app
emails
fastapi
Jinja2
passlib[bcrypt]
pydantic[email]
pydantic_settings
PyJWT
pytest
sentry_sdk
SQLAlchemy
sqlmodel
starlette
tenacity
typing_extensions
uvicorn
psycopg
python-multipart
bcrypt
functions-framework==3.4.0
Flask==2.3.3